html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: relative;
}

body {
	background-color: #eee;
}

#nbox_target {
	position: relative;
	width: 50%;
	height: 50vh;
	left: 25%;
	top: 25vh;
	background-color: #fff;
}